.sectionContainer {
    width: 100%;
    height: 100svh;
    padding: 100px 64px;
}

.sectionHeading {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 16px;
    font-family: var(--font-main);
}

.bodyText {
    margin-bottom: 32px;
}

.imageContainer {
    width: 80%;
    padding: 24px;
    height: 60%;
    margin-bottom: 32px;
    border-radius: 4px;
}

.imageElement {
    width: 75%;
    height: 60%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 4px;
}