.parentDiv {
    width: 100%;
    height: 72px;
    position: fixed;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 1px solid rgb(5, 27, 46);
}

.navbarContainer {
    width: 100%;
    height: 72px;
    padding-left: 64px;
    padding-right: 64px;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
}

.subContainerStart {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    gap: 24px;
}

.subContainerEnd {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    gap: 24px;
}

.navLogoContainer {
    width: 48px;
    position: relative;
}

.navLogo {
    cursor: pointer;
    width: 100px;
    position: absolute;
    object-fit: contain;
    left: -20px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}


.navItem {
    cursor: pointer;
    color: whitesmoke;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 550;
    line-height: 24px;
    word-wrap: break-word;
}

.navButton button {
    cursor: pointer;
    color: #163061;
    box-sizing: border-box;
    background-color: whitesmoke;
    border-radius: 4px;
    height: 40px;
    padding: 8px 20px;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    text-align: center;
    word-wrap: break-word;
    border: 1px whitesmoke solid;
}

/* misc values
color: #163061;
background-color: rgb(5, 27, 46);
*/